.App {
  margin: 2rem;
}

h1,
h2 {
  text-align: center;
}

table,
table td,
table th {
  border-collapse: collapse;
}

select,
button {
  cursor: pointer;
}

.distribution-select {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.input-container {
  margin: 1rem;
  white-space-collapse: preserve;
}

.input-table {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.input-table td {
  padding-bottom: 0.5rem;
}

.input-table .separate {
  border-top: solid thin #aaa;
}
.input-table .separate td {
  padding-top: 0.5rem;
}

.observations {
  display: flex;
  justify-content: center;
  /* text-wrap: balance; */
  text-align: left;
  margin-bottom: 0.5rem;
}

.observations .legend {
  text-wrap: nowrap;
}

.observations div {
  max-width: 50%;
}

.observations * {
  flex-shrink: 1;
}

.observations #reset-button {
  align-self: flex-start;
}

#exact-toggle-label,
#exact-toggle {
  cursor: pointer;
  user-select: none;
}

.distribution-table {
  word-wrap: break-word;
}

.distribution-table td,
.distribution-table th {
  border: thin #aaa solid;
  max-width: 12vw;
}

.distribution-table th {
  background-color: #ffffcc;
}

.distribution-table td {
  background-color: #ccffcc;
  text-align: center;
}

.output-container {
  display: flex;
  align-items: flex-start;
}

.r-code {
  cursor: pointer;
  user-select: none;
}

.graph-container {
  display: flex;
  flex-grow: 1;
}

.graph-container * {
  max-width: 50%;
  height: 500px;
}

.summary-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(auto-fill, 300px);
}
.summary-container > * {
  border: black 1px solid;
}

.infobox {
  margin: 2rem auto;
  width: fit-content;
  list-style-position: inside;
}
